.card {
  border: 1px solid gray;
  width: 300px;
  height: 200px;
  margin: 20px 40px 0px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 3px 2px 1px gray;
  cursor: pointer;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}

.button {
  width: 45%;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}

.button:hover {
  background-color: rgb(79, 245, 245);
}

.card-title {
  font-size: 30px;
  font-family: sans-serif;
}
